<h2>Add New Post</h2>
<p>
	We will add new post here
</p>

	<form action="/new" method="POST" role="form">
	  <textarea name="content" class="form-control" rows="6" placeholder="Type post text here" style="width: 400px"></textarea>
	  <br>
	  <button type="submit" class="btn btn-primary">Yarr!!!</button>
	</form>